*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
main{
    height: 100vh;
    width: 100vw;
    
}
.container{
    height: 100%;
    width: 100%;
    background-color: #590505;
    padding: 4rem;
    display: grid;
    gap: 1rem;
    border: 2px solid rgb(73, 239, 23);
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(5,1fr);
    /* justify-items: center; */
   /* align-items: center; */
   place-items: stretch;

}
.item{
    /* height: 80px;
    width: 80px; */
    background-color: #fff;
    border: 5px solid rgb(31, 223, 14);
    /* justify-self: center;
    align-self: center; */
    /* place-self: center; */
   
}