
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");


*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins', sans-serif;
}

body{
    scroll-behavior:smooth;
}


header{
    background:#4f46e5;
    padding:15px 40px;
    display:flex;
    justify-content:space-between;
    align-items:center;
    color:white;
}

.logo{
    font-size:22px;
    font-weight:700;
}

nav a{
    color:white;
    margin:0 15px;
    text-decoration:none;
    font-weight:500;
}

nav a:hover{
    text-decoration:underline;
}

.contact-btn{
    background:white;
    color:#4f46e5;
    padding:8px 18px;
    border-radius:20px;
    text-decoration:none;
    font-weight:600;
}


.main{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:80px 10%;
}

.main-left{
    max-width:500px;
}

.main-left h1{
    font-size:40px;
    margin:20px 0;
    color:#111827;
}

.main-left p{
    color:#555;
    margin-bottom:25px;
}

.btn{
    padding:12px 25px;
    border-radius:25px;
    text-decoration:none;
    margin-right:10px;
    font-weight:600;
    transition:0.3s;
}

.start{
    background:#4f46e5;
    color:white;
}

.tour{
    background:#e5e7eb;
    color:black;
}

.btn:hover{
    transform:scale(1.05);
}


.main img{
    width:580px;
    height: 300px;
    border-radius:10px;
}


.features{
    background:#f4f7ff;
    padding:60px 10%;
    text-align:center;
}

.features h2{
    margin-bottom:40px;
}

.feature-grid{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
    gap:20px;
}

.card{
    background:white;
    padding:25px;
    border-radius:15px;
    box-shadow:0 5px 20px rgba(0,0,0,0.1);
    transition:0.3s;
}

.card:hover{
    transform:translateY(-10px);
}


.testimonial{
    padding:60px 10%;
    text-align:center;
}

.testimonial-grid{
    display:flex;
    justify-content:center;
    gap:20px;
    flex-wrap:wrap;
}

.test-card{
    max-width:300px;
    padding:20px;
    background:white;
    border-radius:12px;
    box-shadow:0 5px 15px rgba(0,0,0,0.1);
}

.cta{
    background:linear-gradient(135deg,#4f46e5,#6d28d9);
    color:white;
    text-align:center;
    padding:60px 20px;
}

.cta a{
    background:white;
    color:#4f46e5;
    padding:12px 25px;
    border-radius:25px;
    text-decoration:none;
    font-weight:bold;
}


footer{
    background:#111827;
    color:white;
    padding:30px 10%;
    text-align:center;
    margin-top:40px;
}


@media(max-width:768px){
    .main{
        flex-direction:column;
        text-align:center;
    }
    .main img{
        margin-top:30px;
        width:250px;
    }
    nav{
        display:none;
    }
}

